
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Menu Principal</h1>
    <h2>

        TU SALUD EN MIS MANOS

    </h2>
    <p>

        Segundo Laboratorio de Estructura de Datos


    </p>
</div>
<a asp-action="CargarFarmacos" class="btn btn-dark btn-lg btn-block" role="button">Cargar Invetario de Farmacos</a>
<p>

</p>
<a asp-action="RealizarPedidos" class="btn btn-dark btn-lg btn-block" role="button">Realizar Pedido</a>
<p>

</p>
<a asp-action="Paginacion" class="btn btn-dark btn-lg btn-block" role="button">Consultar Inventario</a>
<p>

</p>
<a asp-action="Reabastecer" class="btn btn-dark btn-lg btn-block" role="button">Reabastecer Inventario</a>